/* apesar de estar no body estou sendo mais específico com ele */
h1 { 
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
    margin: 0;

    
}

h1 span{ 
    font-weight: bold;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#Hero { 
    width: 592px;
    margin: 0 auto 72px; /*aqui o primeiro e pro top o segundo para os lados e terceiro para o bottom (se tivesse 4 era na ordem -top, right, bottom, left)*/

}

#Hero img {
    margin-bottom: 72px;

}


span, a { 
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#footer {
    font-size: 14px;
    line-height: 28px;
}

#footer a + a {  /*pegue uma 'a' que anterior a ele tem um a */
    margin-left: 28px;

}

.line {
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}